<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - ECC Admin</title>
    <!--<link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">-->
    <style>
        body {
            background-color: #f8f9fa;
            padding: 0;
            margin: 0;
        }
        .header {
            background-color: #008cba;
            padding: 2px 3px 2px 3px;
            text-align: center;
            display: flex;
            align-items: center;
        }
        .header img {
            max-width: 100px;
        }
        .container {
          display: flex;
        }
    </style>
</head>
<body>

<div class="header">
  <div class="header-container">
    <div><h5>LOGO</h5></div>
  </div>
  <div class="header-container">
    <div>
      <a href="" class="btn">EVENTO</a>
    </div>
  </div>
  <div class="header-container">
    <div>
      <a href="" class="btn">EQUIPES</a>
    </div>
  </div>
  <div class="header-container">
    <div>
      <a href="{% url 'casais' %}" class="btn">CASAIS</a>
    </div>
  </div>
</div>
<div class="container">
</div>

</body>
</html>

